################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/speed_core/.vs/speed_core/v15
